[Unit]
After=network-online.target
Wants=network-online.target
[Service]
Type=simple
User=root
ExecStart=/bin/bash /opt/magic-helper/log-last-arp.sh
StandardOutput=null
[Install]
WantedBy=multi-user.target
